#root {
  margin: 0 auto;
  padding: 0 10px 10px 0rem;
  width: 100%;
  height: 100%;
  text-align: center;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.App {
  width: 100%;
  padding-bottom: 80px;
}

h1 {
  margin: 1rem auto 4rem;
}

.tasks-image {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 1rem;
  text-align: center;
  font-family: arial;
}

.name {
  font-size: 100%;
}

.points {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.react-multi-carousel-list {
  padding: 0 20px;
}

/* Nav Bar */

/* .bottom-nav-app-div {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b82929;
  width: 100%;
} */

.bottom-nav {
  display: flex;
  justify-content: center;
  padding: 0px 10px 75px 65px;
}

header .top-header {
  position: relative;
  width: 100%;
  height: 50px;
}

body {
  top: 10px;
}

.top-header-text {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
}
